<% form_for @comment, :url => comments_path, :method => :post do |f| %>
<%= hidden_field_tag :student_id, @student.id %>
<table>
  <tr>
    <td><%= f.label "Comment:" %></td>
    <td><%= f.text_area :review, :size => "60x10" %></td>
  </tr>
  <tr>
    <td><%= f.label "Score:" %></td>
    <td><%= f.select :score, Comment::SCORES.reverse %></td>
  </tr>
</table>
<p><%= f.submit 'Submit' %></p>
<% end %>
