<%= form.error_messages %>
<p>
  <%= form.label :name %><br />
  <%= form.text_field :name %>
</p>
<p>
  <%= form.label :university %><br />
  <%= form.text_field :university %>
</p>
<p>
  <%= form.label :major %><br />
  <%= form.text_field :major %>
</p>
<p>
  <%= form.label :year %><br />
  <%= form.text_field :year %>
</p>
<p>
  <%= form.label :cover %><br />
  <%= form.text_area :cover %>
</p>
<p>
  <% form.fields_for :documents, :html => { :multipart => true } do |document_form| -%>
  <%= render :partial => 'upload', :locals => { :form => document_form } %>
  <% end -%>
</p>
