<p id="review_title"><b>Reviews</b></p>
<% for comment in @student.comments %>
<div class="studentreview">
  <div class="title">
    On <%= comment.updated_at.to_s(:long) %> <%= comment.commented_by %> gave a score of <b><%= comment.score %></b> and wrote:
  </div>
  <div class="other">
    <p>
      <%= "No comment!" if comment.review.blank? %>
      <%= simple_format(comment.review) %>
    </p>
  </div>
</div>
<% end %>

<% if @student.comments.blank? %>
<div class="studentreview"><div class="title">Not commented.</div></div>
<% end %>
