<div class="list">
  <table id="queues">
    <tr align="left">
      <th><%= link_to "Student", students_path(:order => "name") %></th>
      <th><%= link_to "University", students_path(:order => "university") %></th>
      <th><%= link_to "Major", students_path(:order => "major") %></th>
      <th><%= link_to "Year", students_path(:order =>  "year") %></th>
      <th><%= link_to "Score", students_path(:order => "score") %></th>
      <th>Last Modified on</th>
      <th>Commented</th>
    </tr>
    <% for student in @students %>
    <tr class="off" onmouseover="this.className='on'" onmouseout="this.className='off'" onclick="document.location.href='<%= student_path(student) %>'">
      <td><div class="name"><%= link_to student.name, student_path(student), :class => "noul" %></div></td>
      <td><div class="university"><%= student.university %></div></td>
      <td><div class="major"><%= student.major %></div></td>
      <td><div class="score"><%= student.year %></div></td>
      <td><div class="score"><%= student.score %></div></td>
      <td><div class="date"><%= student.updated_at.to_s(:long) %></div></td>
      <td><div class="commented"><%= image_tag "/images/accept.png" if student.commented_by(current_user) %></div></td>
    </tr>
    <% end %>
  </table>
</div>
