<div id="header">
  <div id="title"> Review Student: <%= @student.name %> from <%= @student.university %> (Score: <%= @student.score %>) </div>
</div>
<div id="cover"><%= simple_format(@student.cover) %></div>
<hr/>
<div id="student_attachments"><%= render :partial => "attachments" %></div>
<hr/>
<div id="student_comment"><%= render :partial => "comment" %></div>
<div id="student_reviews"><%= render :partial => "reviews" %></div>
<br>
<div class="link"><%= link_to "Back to Student List", students_path %></div>
<br><br>
